* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Verdana, Arial, Helvetica, sans-serif;
}

.contenido {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    text-align: center;
    padding: 1em;
    margin-top: 1em;
}

.titulo {
    line-height: 2em;
    font-weight: bold;
}

.miniatura {
    height: 50%;
    margin-top: 2em;
    visibility: hidden;
}

.controles {
    margin-top: 2em;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.botones {
    cursor: pointer;
    margin-right: 1em;
    padding: 1em;
    border: none;
    border-radius: 100%;
    background: rgb(166, 185, 207);
    color: rgb(0, 0, 0);
}

.botones:hover {
    background: rgb(201, 234, 234);
    color: white;
}

.botones:focus {
    background: rgb(96, 143, 168);
    color: white;
}

.bi {
    font-size: 2em;
}

.loading-msg {
    font-size: 2em;
    font-weight: bold;
    border: 2px solid black;
    padding: 2em;
}

